<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="media.radio.player"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	
    <application
        android:icon="@drawable/shake"
        android:label="@string/app_name" >
        <activity
            android:name=".MeradioActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainForm" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name=".BrowseFiles" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name=".Tentang" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name=".MusicPlayer" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
        <activity android:name=".VideoPlayer" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
         <activity android:name=".ImagePlayer" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
         
         <activity android:name=".GifPlayer" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
         
         <activity android:name=".playListMusic" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
        
         <activity android:name=".playListVideo" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
         
         <activity android:name=".viewMusicList" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
         
         <activity android:name=".viewVideoList" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" ></activity>
         
         <activity android:name=".ViewVideo" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden" ></activity>
    </application>

</manifest>